/*Geral*/

* {
    margin: 0;
    padding: 0;
    font-family: Popins, sans-serif;
}

body {
    background: linear-gradient(180deg, #171457 0%, #79a3ff 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.hide{
    display: none;
}
/*Container*/
.container {
    background-color: #08dbf736;
    box-shadow: rgba(0, 0, 0, 0.24)2px 10px 15px;
    padding: 35px;
    color: #fdfdfd;
    border-radius: 1rem;
}
/*Form*/
.form h3{
    margin-bottom: 30px;
}
.form-input-container {
    display: flex;
}
.form input {
    padding: 20px;
    border: none;
    flex: 1;
    border-radius: 15px;    
}
.form button {
    padding: 0.8rem;
    min-width: 50px;
    margin-left: 8px;
    background-color: #8dd0f5 ;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 15px;
}

/*Clima*/

#weather-data{
    border-top: 1px solid #fff;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    text-align: center;
}
#weather-data h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.6rem;
}

#weather-data h2 i{
    font-size: 1rem;
}
#weather-data span{
    margin: 0.6rem;
}
#country {
    height:30px;
}

#description{
    font-weight: bold;
    text-transform: capitalize;
}

#description-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.6rem 0;
}

#details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.6rem 0;
}

#details-container #humidity {
    border-right: 1px solid #fff;
    margin: 0.6rem;
    padding: 0.6rem;
}